{% extends 'base.html' %}
{% block title %}Game Board{% endblock %}

{% block content %}
<h1>Boggle Board</h1>
<!-- <h2>{{session['board']}}</h2> -->
<div class="grid">
    {% for row in board %}
        {% for letter in row %}
            <div class="letter">{{letter}}</div>
        {% endfor %}
    {% endfor %}
</div>
<form action="#">
    <label for="guess">Enter a word:</label>
    <input type="text" id="guess">
    <button>Submit</button>
</form>
<div id="messages">
    <h2 class="word-message"></h2>
    <h2 class="score"></h2>
</div>
<div class="timer"></div>
{% endblock %}